---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [2]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [3]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    
    return "ANSWER"

In [4]:
import re
from collections import defaultdict
uni_dict= defaultdict(list)

with open('university_towns.txt','r') as uni_towns:
    for lines in uni_towns:
        if "edit" in lines:
            mykey= re.match(r'.+?(?=\[edit])',lines).group()
            
            
        else:
            myvalues = re.match(r'[A-z]+ *[A-z]*',lines).group()
            uni_dict[mykey].append(myvalues)

list_stuff=[]
for k,v in uni_dict.items():
    for values in v:
        list_stuff.append(k + ',' + values )
state=[]
county=[]
for uni in list_stuff:
    s=uni.split(',')[0]
    c=uni.split(',')[1]
    state.append(s)
    county.append(c)
df1=pd.DataFrame(state,columns=['state'])
df2=pd.DataFrame(county,columns=['county'])
df_uni=df1.join(df2)

In [5]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    
    return "ANSWER"

In [31]:
#df_annualGDP = pd.read_excel('gdplev.xls',usecols=[0,1,2],skiprows=8,header=None, skip_footer=191,
   #           names=['Year','GDP in billions of current dollars','GDP in billions of chained 2009 dollars'])
#df_gdpAnnual.head()
df_quaterlyGDP = pd.read_excel('gdplev.xls',usecols=[4,6],skiprows=220,header=None,
             names=['Quater','GDP in billions of chained 2009 dollars'])
#df_quaterlyGDP['GDP in billions of chained 2009 dollars'].apply(lambda x: pd.Series({'min':x.loc[1]}))

df_quaterlyGDP['pct_change'] = df_quaterlyGDP['GDP in billions of chained 2009 dollars'].astype(float).pct_change(1)
df_quaterlyGDP[df_quaterlyGDP['pct_change']<0]
#df_quaterlyGDP['pct_change'].apply(lambda x: pd.Series(x<0))
df_quaterlyGDP.loc[(df_quaterlyGDP['pct_change']<0) & (df_quaterlyGDP['pct_change'].shift(-1)<0)].head(1).Quater.values[0]

'2008q3'

In [28]:
df_quaterlyGDP

    Quater  GDP in billions of chained 2009 dollars  pct_change
0   2000q1                                  12359.1         NaN
1   2000q2                                  12592.5    0.018885
2   2000q3                                  12607.7    0.001207
3   2000q4                                  12679.3    0.005679
4   2001q1                                  12643.3   -0.002839
5   2001q2                                  12710.3    0.005299
6   2001q3                                  12670.1   -0.003163
7   2001q4                                  12705.3    0.002778
8   2002q1                                  12822.3    0.009209
9   2002q2                                  12893.0    0.005514
10  2002q3                                  12955.8    0.004871
11  2002q4                                  12964.0    0.000633
12  2003q1                                  13031.2    0.005184
13  2003q2                                  13152.1    0.009278
14  2003q3                                  13372.4    0.016750
15  2003q4                                  13528.7    0.011688
16  2004q1                                  13606.5    0.005751
17  2004q2                                  13706.2    0.007327
18  2004q3                                  13830.8    0.009091
19  2004q4                                  13950.4    0.008647
20  2005q1                                  14099.1    0.010659
21  2005q2                                  14172.7    0.005220
22  2005q3                                  14291.8    0.008403
23  2005q4                                  14373.4    0.005710
24  2006q1                                  14546.1    0.012015
25  2006q2                                  14589.6    0.002990
26  2006q3                                  14602.6    0.000891
27  2006q4                                  14716.9    0.007827
28  2007q1                                  14726.0    0.000618
29  2007q2                                  14838.7    0.007653
..     ...                                      ...         ...
36  2009q1                                  14375.0   -0.013857
37  2009q2                                  14355.6   -0.001350
38  2009q3                                  14402.5    0.003267
39  2009q4                                  14541.9    0.009679
40  2010q1                                  14604.8    0.004325
41  2010q2                                  14745.9    0.009661
42  2010q3                                  14845.5    0.006754
43  2010q4                                  14939.0    0.006298
44  2011q1                                  14881.3   -0.003862
45  2011q2                                  14989.6    0.007278
46  2011q3                                  15021.1    0.002101
47  2011q4                                  15190.3    0.011264
48  2012q1                                  15291.0    0.006629
49  2012q2                                  15362.4    0.004669
50  2012q3                                  15380.8    0.001198
51  2012q4                                  15384.3    0.000228
52  2013q1                                  15491.9    0.006994
53  2013q2                                  15521.6    0.001917
54  2013q3                                  15641.3    0.007712
55  2013q4                                  15793.9    0.009756
56  2014q1                                  15747.0   -0.002970
57  2014q2                                  15900.8    0.009767
58  2014q3                                  16094.5    0.012182
59  2014q4                                  16186.7    0.005729
60  2015q1                                  16269.0    0.005084
61  2015q2                                  16374.2    0.006466
62  2015q3                                  16454.9    0.004928
63  2015q4                                  16490.7    0.002176
64  2016q1                                  16525.0    0.002080
65  2016q2                                  16583.1    0.003516

[66 rows x 3 columns]

In [ ]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
       
    return "ANSWER"

In [ ]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    
    return "ANSWER"

In [ ]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    
    return "ANSWER"

In [ ]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    return "ANSWER"